*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-image: url("../Media/Imagenes/fondo\ 2.jpg");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-attachment: fixed;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}


.formulario {
    border-color: rgb(64, 185, 60);
    border: width 50px;
    border-style: solid;
    text-align: left;
    margin-left: 8cm;
    margin-right: 8cm;
}

.navbar {
    color: black;
    font-weight: bold;
}

.formulario1 {
    text-align: center;
}

#index {
    width: 100%;
    text-align: center;
    
}

.consultas {
    text-align: center;
}

.conteiner1 {
    width: 80%;
    display: flex;
    columns: 3;
    grid-template-columns: 3;   
}

.conteiner2 {
    width: 100%;
    display: flex;
}

.main {
    width: 65%;
}

.aside {
    width: 25%;
}

#whatsapp{
    position: fixed;
    bottom: 3px;
    right: 3px;
}

.modelos {
    text-align: center;
    font-weight: bold;
}

.titulos {
    text-align: center;
    font-weight: bold;
}

