*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(16, 16, 16, 0.295),rgba(16, 16, 16, 0.295)), url("../Media/Imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-attachment: fixed;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

.formulario {
    border-color: rgb(64, 185, 60);
    border: width 50px;
    border-style: solid;
    text-align: center;
    margin-left: 8cm;
    margin-right: 8cm;
}


.formulario1 {
    text-align: center;
}

#index {
    width: 100%;
    text-align: center;
    
}

.consultas {
    text-align: center;
}

.conteiner1 {
    width: 100%;
    text-align: center;
    margin: 20px;
    
}

.conteiner2 {
    width: 100%;
    display: flex;
}

.main {
    width: 65%;
}

.aside {
    width: 25%;
}

#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#whatsapp:hover{
    color: white;
    box-shadow: 0px 0px 1px white;
    border-radius: 100%;
    transform: scale(1.1);
    transition: all 0.5s;
}

#volver svg{
    color: black;
}

#volver{
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#volver:hover{
    color: white;
    box-shadow: 0px 0px 1px white;
    border-radius: 100%;
    transform: scale(1.1);
    transition: all 0.5s;
}

.forma{
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 1px;
}

.modelos2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
   
}

.titulos {
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
}

h6{
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
}

h5{
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
}


.imagen{
    text-align: center;
    opacity: 0.7;
}

a{
    text-decoration: none;
}

.imagen img{
    width: 250 px;
    height: 300px;
    box-shadow: 0px 0px 6px rgb(250, 11, 11);
}

.imagen img:hover{
    box-shadow: 0px 0px 5px 2px;
}

.imagen:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s;
}

.modelos {
    margin-top: 17px;
}

.titulo{
    color: black;
    text-align: center;
}

.card-text{
    color: black;
    text-align: center;
}

.boton{
    margin-left: 40%;
    color: blue;
}


.card{
    margin-left: 25%;
}
